@font-face {
  font-weight: 400;
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.ttf');
}
  
@font-face {
  font-weight: 700; /* Соответствует значению bold */
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-weight: 300;
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Light.ttf');
}

@font-face {
  font-family: 'Neucha';
  src: url('../fonts/Neucha-Regular.ttf');
}

body {
  font-family: 'OpenSans', sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: #2A2626;
  margin: 0;
}

h1, h2, h3 {
  line-height: 1.2em;
  font-family: 'Neucha', sans-serif;
  text-align: left;
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.yellow-h{
  color: #FE8A02;
}

.white-h {
  color: #F5F4F0;
}

section {
  padding: 100px 0;
  position: relative;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.light-background {
  background-color:  #f5f4f0;
}

.white-background {
  background-color: #FFFFFF;;
}

.brown-background {
  background-color: #b09a81;
}

.background-present::before{
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  
  position: absolute;
  top: 0;
  right: 0;

  opacity: 0.1;
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1110px;
  width: 77%;
  margin: 0 auto;
}

.header-container-div {
  position: relative;
}

/* .header .container {
  position: relative;
} */

header img {
  position: absolute;  
  top: -55px; /*должно быть 55 */
  right: -270px;
  max-width: 100%;
  height: 525px;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

header .columns-2 {
  margin-top: 200px;
}

.columns-2 {  
  column-count: 2;
  column-gap: 30px;
  height: 100%;
}

.columns-2 p {
  margin: 0 auto;
}

.columns-2 figure {
  break-inside: avoid;
  margin: 0; /*без этого ломаются основные колонки*/
}

.btn-details {
  margin-top: 40px;
  background-color: #FE8A02;
  border: none;
  padding: 12px 24px;
  width: 100px;
}

.btn-details a {
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
}

.little-container {
  width: 920px;
  margin: 0 auto;
}

.about {
  height: 630px;
  z-index: 3;
}

.about h2, .about p {
  text-align: center;
  margin-bottom: 30px; 
}

iframe {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
  z-index: 4;
}

.navigation {
  background-color: #42413C;
  padding-top: 200px;
}

.navigation-container {
  max-width: 1150px;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  margin: 0 auto;
}

.navigation article {
  width: 302px;
  max-width: 350px;
  height: 323px;

  padding: 24px;
  margin: 10px 15px;

  background-color: #F5F4F0;
}

article.navigation-header {
  background-color: #42413C;
  position: relative;
}

.navigation-header h2 {
  position: absolute;
  top:0;
  left: 0;

  font-size: 52px;
}

.navigation-h2 {
  font-size: 64px;
  line-height: 1;
  color: #42413C; 

  margin-bottom: 40px;
}

.navigation-h3 {
  margin-bottom: 16px;
}

.navigation article p {
  color: #2A2626;
}

.effect-definition, .effect-desciption {
  display:flex;
}

.effect-definition {
  justify-content: space-between;
}

.effect-desciption {
  flex-direction: column;
}

.effect-definition > div:first-child  {
  margin-right: 30px;
} 

.effect-image {  
  vertical-align: middle;
  z-index: 2;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.effect-main-theme {
  font-size: 24px;
  font-family: 'Neucha', sans-serif;
  line-height: 1.2;
}

.effect-main-theme-dark {
  color: #908D8B;
}

.effect-main-theme-white {
  color: #D7CCC0;
}

.effect-formulation {
  font-family: 'Neucha', sans-serif;
  font-size: 34px;
  line-height: 1.2;

  margin-top: 30px;  
}

.effect-symptom-h4 {
  font-size: 14px;
  padding: 5px 10px;
  line-height: 1.2;;
  
  text-transform: uppercase;

  margin-top: 100px;
  margin-bottom: 20px;
}

.effect-symptom-h4-white {
  color: #FFFFFF;
}

.effect-symptom-h4-brown {
  color: #B09A81;
}

.color-font {
  color: #FFFFFF;
}

.subscription-container {
  background-color: #42413C;
  padding: 55px;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subscription-container form {
  width: 485px;
}

.subscription-container form .form-group {
  position: relative;
  /* border: none; */
}

.subsctiption input {  
  height: 50px;
  padding: 0 0 0 15px;

  width: 400px;

  border: none;
  outline: none;
}

.subsctiption label {
  position: relative;
  top: -9px;
  font-size: 18px;
  padding-bottom: 9px;
}

.subsctiption button {
  position: absolute;
  top: 0;
  right: 0;

  height: 50px;
  
  width: 70px;
  background-color: #FE8A02;

  padding: 0;

  display: flex;
  justify-content:center;
  align-items: center;

  border: none;
}

.subsctiption button::before {
  background-image: url(../images/send.svg);
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;

  vertical-align: middle;
}

.subsctiption-text {
  font-size: 12px;  
}

.subsctiption-text a {
  text-decoration: underline;
}

.official {
  margin-top: 76px;
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
}

.official p {
  margin-bottom: 16px;
}

.official a {
  color: #1085C5;
}







 