@font-face {
  font-weight: 400;
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.ttf');
}
  
@font-face {
  font-weight: 700; /* Соответствует значению bold */
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-weight: 300;
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Light.ttf');
}

@font-face {
  font-family: 'Neucha';
  src: url('../fonts/Neucha-Regular.ttf');
}

body {
  font-family: 'OpenSans', sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: #2A2626;  
}

h1, h2, h3 {
  line-height: 1.6em;
  font-family: 'Neucha', sans-serif;
  text-align: left;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
  font-weight: 300px;
}

h3 {
  font-size: 34px;
  font-weight: 300px;
}

section {
  padding: 100px 0;
}

.background-present::before{
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  opacity: 0.1;
  
  position: absolute;
  width: 100%;
  height: 100%;
}

header {
  background-color: #F2F3F4;
}

.container {
  /* width: 1110px; */
  width: 77%;
  margin:0 auto;
  position: relative;
  /* border: solid red 1px; */
}

.yellow-header {
  color: #FE8A02;
}

.white-header {
  color: #F5F4F0;
}

header img {
  position: absolute;
  height: 525px;
  top: -25px; /*должно быть 55*/
  right: -270px;
  /* border: red solid 2px; */
}

.columns-2 {
  padding-top: 100px;

  column-count: 2;
  column-gap: 30px;
  /* width: auto; */
  
}

.columns-2 p {
  margin: 0 auto;
}

.columns-2 figure {
  break-inside: avoid;
  margin-bottom: 0;
}

.btn-details {
  margin-top: 40px;
  background-color: #FE8A02;
  border: none;
  padding: 12px 24px;
}

a {
  text-decoration: none;
  color: #2A2626;
}
.btn-details a {
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  
}

.little-container {
  width: 880px;
  margin: 0 auto;
}

.about {
  height: 664px;
}

.about h2, .about p {
  text-align: center;
  
  margin: 30px 0;
}

.about h2 {
  font-weight: 300;
}

iframe {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.navigation {
  background-color: #42413C;
  padding-top: 200px;
}

.navigation-container {
  width: 1140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  /* margin-top: 200px; */

  padding: 0;
}

.navigation article {
  width: 302px;
  height: 323px;

  padding: 24px;
  margin: 10px 15px;

  /* margin-left: 20px 30px; */

  background-color: #F5F4F0;
}

.navigation article.navigation-header {
  background-color: #42413C;
  padding-top: 0;   
}

.navigation-header h2 {
  font-size: 52px;
  line-height: 1.2;
  margin: 0;
  font-weight: 400;
}

h2.digit {
  font-size: 64px;
  line-height: 1;
  font-weight: 400;

  margin: 0 0 40px 0px;
}

h3.digit {
  margin-bottom: 12px;
  font-weight: 300;
}

.navigation article p {
  margin: 0
}

.effect-header, .effect-desciption {
  display:flex;
}

.effect-header {
  justify-content: space-between;
}
.effect-desciption {
  flex-direction: column;
}


.effect-main-title {
  font-size: 24px;
  font-family: 'Neucha', sans-serif;
  line-height: 1.2;
  color: #908D8B;
  margin-bottom: 5px;
}

.effect-symptom-h4 {
  font-size: 14px;
  background-color: #B09A81;
  text-indent: 10px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-top: 100px;
  margin-bottom: 20px;

}

.effect-h2 {
  font-weight: 300;
  margin: 0;
  line-height: 1;
  
}

.effect-h3 {
  font-family: 'Neucha', sans-serif;
  font-size: 34px;
  font-weight: 300;
  margin-top: 30px;
  line-height: 1.6em;
}


.effect-image {  
  vertical-align: middle;
  margin-right: 30px;
}


.effect-columns-2 {
  padding-top: 0;
}

.premature-optimization {
  background-color: #99826B;
  color: #FFFFFF;
}

.premature-optimization h4 {
  background-color: #FFFFFF;
  color:#99826B;
}

.premature-optimization .effect-image {  
  margin-left: 30px;
  margin-right: 0;
}

/* .premature-optimization h4 {
  background-color: #FFFFFF;
  color:#99826B;
} */

.distortion-of-novelty {
  background-color: #F3F0ED;
}

.hyperbolic-depreciation {
  background-color: #99826B;
  color: #FFFFFF;
}

.hyperbolic-depreciation h4 {
  background-color: #FFFFFF;
  color:#99826B;
}

.hyperbolic-depreciation .effect-image {  
  margin-left: 30px;
  margin-right: 0;
}

.errors-in-planning {
  background-color: #F3F0ED;
}

footer {
  background-color: #FFFFFF;
}

footer .effect-header {
  border: red solid 1px;
  background-color: #42413C;
  padding: 55px;

  color: #FFFFFF;
}

.effect-header form .form-group {
  position: relative;
  /* width: 100%; */
}

.subsctiption input {  
  height: 50px;
  padding: 0 15px;
  width: 420px;
}

.subsctiption button {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 70px;
  padding: 0;
  background-color: orange;
}

.subsctiption button::before {
  background-image: url(../images/send.svg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: orange; */
  content: '';
  /* opacity: 1; */
  position: absolute;
  /* top: 50%;
  left: 50%; */ 
  opacity: 1;
  width: 50%;
  height: 70%;
  border: solid red 1px;

  vertical-align: middle;
}

.subsctiption-text {
  font-size: 12px;
}





 