@font-face {
  font-weight: 400;
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.ttf');
}
  
@font-face {
  font-weight: 700; /* Соответствует значению bold */
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-weight: 300;
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Light.ttf');
}

@font-face {
  font-family: 'Neucha';
  src: url('../fonts/Neucha-Regular.ttf');
}

body {
  font-family: 'OpenSans', sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: #2A2626;  
}

.container {
  /* border: green solid 2px; */
  margin: 0 auto;
  /* margin: 0 auto; */
  /* padding: 0; */
}


h1, h2, h3 {
  line-height: 1.6em;
  font-family: 'Neucha', sans-serif;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

section {
  /* margin: 100px 0; */
  padding: 100px 0; 
  /* background-color: #FDEBD0; */
  border: red solid 2px;
  z-index: 1;
  /* background-image: url(../images/background.png); */
  /* background-repeat: no-repeat;
  background-size: cover;  */
}

.s1 {
  background-color: #F2F3F4;
}

.s1 > div {
  width: 1110px;
  /* text-align: center; */
  margin: 0 auto;
  /* border: black solid 2px; */
  /* margin: 100px auto; */
  position: relative;
  z-index: 2;
  /* background-color: #FDEBD0; */
}

.s1 h1 {
  text-align: left;
  /* border: red solid 2px; */

}

.s1-h1-p1 {
  color: #FE8A02;
}

.s1 img {
  position: absolute;
  height: 525px;
  top: 15px; /*должно быть 55*/
  right: -270px;
  /* border: red solid 2px; */
  /* vertical-align: middle; */
}

.columns-2 {
  margin-top: 150px;
  column-count: 2;
  column-gap: 30px;
  text-align: left;
  /* margin-bottom: 0; */
  /* column-rule: 2px solid black; */
}

.columns-2 p {
  margin: 0 auto;
}

/* figure {
  break-inside: avoid;
} */
.break {
  break-inside: avoid;
}

.btn-details {
  margin-top: 40px;
  background-color: #FE8A02;
  border: none;
  /* height: 50px; */
  padding: 12px 24px;
  
  /* border: red solid 2px; */
}

.btn-details a{
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
  line-height: 1.6;
  

}

/* .s1>div::before { */
.background-present {
  border: red solid 2px;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  opacity: 0.7;
} 