@font-face {
  font-weight: 400;
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.ttf');
}
  
@font-face {
  font-weight: 700; /* Соответствует значению bold */
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-weight: 300;
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Light.ttf');
}

@font-face {
  font-family: 'Neucha';
  src: url('../fonts/Neucha-Regular.ttf');
}

body {
  font-family: 'OpenSans', sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: #2A2626;  
}




section {
  /* margin: 100px 0; */
  /* padding: 100px 0;  */
  /* background-color: #FDEBD0; */
  /* height: 500px;
  width: 700px;
  margin: 0 auto;
  border: red solid 2px;
  z-index: 2; */
  /* background-image: url(../images/background.png); */
  /* background-repeat: no-repeat;
  background-size: cover;  */
  border: yellow solid 2px;
  height: 600px;
  z-index: 1;
}

.container {
  /* border: green solid 2px; */
  /* margin: 0 auto; */
  /* margin: 0 auto; */
  /* padding: 0; */
  border: red solid 2px;
  width: 1110px;
  margin: 100px 0;
  margin:0 auto;
  height: 500px;
  /* z-index: 1; */
}

/* .background-present {
  border: green solid 2px;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  opacity: 0.7;
  /* height: 1px; */
  /* overflow-y: visible; */
  /* z-index: 2; */
/* } */ 

section::before {
  position: absolute;
  border: green solid 2px;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  opacity: 0.9;
  /* height: 1px; */
  /* overflow-y: visible; */
  /* z-index: 4; */
  height:700px;
  width: 100%;
  height: 100%;
}  